{% capture content %}

  <header class="peakaboo" data-page="main">
    <div class="wrapper">
      <div class="header-title">
        <span class="section-title">Section</span>
        <span class="chapter-title">Chapter</span>
      </div>
    </div>
  </header>
  
  <section id="summary">
    <section>
      <p>{{ site.pages.index.posts.summary }}</p>
    </section>
  </section>
  
  <article id="content">
    <section id="preamble">
      <p>{{ site.pages.index.posts.preamble }}</p>
    </section>
    <section id="about">
      <p>{{ site.pages.index.posts.about }}</p>
    </section>
    <section>
        {{ body }}
    </section>
  </article>
  
  <article class="blog">
    <header>
      <div class="inner">
        <h2>Blog</h2>
        <p>Latest on my mind.</p>
      </div>
    </header>
    <ol class="posts">
      {% for post in site.pages.blog.posts limit:4 %}
        <li class="post">
          <div class="morph-button morph-button-overlay morph-button-fixed">
            <button type="button">{{post.title}}</button>
            <div class="morph-content">
              <div>
                <div class="content-style-overlay">
                  <span class="icon icon-close">Close the overlay</span>
                  <h2>{{post.title}}</h2>
                  {{post.body}}
                </div>
              </div>
            </div>
          </div><!-- morph-button -->
        </li>
      {% endfor %} 
    </ol>
  </article>
{% endcapture %}

{% include 'layouts/default' %}
