{% capture section_title %}
  {{site.pages.index.meta['title']}}
{% endcapture %}

{% capture chapter_title %}
{% endcapture %}

{% capture header_meta %}
  data-page="main" data-top="true"
{% endcapture %}


{% capture content %}
  <section id="summary">
    <div class="content">
      <section>
        {{ site.pages.index.posts.summary }}
      </section>
    </div>
  </section>
  
  <article id="preamble">
    <section>
      {{ site.pages.index.posts.preamble }}
    </section>
    <aside>
      {{ site.pages.index.posts.sidebar }}
    </aside>
  </article>
  
  <article id="about">
    <header>
      <h2>About Me</h2>
    </header>
    <section>
      {{ site.pages.index.posts.about }}
    </section>
  </article>
  
  <article class="blog">
    <header>
      <div class="inner">
        <h2><a href="{{site.pages.blog.url}}">Blog<span class="mdi-navigation-arrow-forward"></span></a></h2>
        <p>Latest on my mind.</p>
      </div>
    </header>
    <ol class="posts">
      {% for post in site.pages.blog.posts limit:4 %}
        <li class="post">
          <div class="morph-button morph-button-overlay morph-button-fixed">
            <button type="button">
              {{post.title}}<br/>
              <span class="date">{{post.date | date: "%b %d"}}</span>
            </button>
            <div class="morph-content">
              <div>
                <div class="content content-style-overlay">
                  <span class="icon icon-close">Close the overlay</span>
                  <h2>{{post.title}}</h2>
                  <span class="date">{{post.date | date: "%Y %b %d"}}</span>
                  {{post.body}}
                </div>
              </div>
            </div>
          </div><!-- morph-button -->
        </li>
      {% endfor %} 
    </ol>
  </article>
{% endcapture %}

{% include 'layouts/default' %}
