/* @group diamonds */
  $diamondSize: 8em;
  $belowDiamondSize: 100%;
    
.morph-button-fixed .morph-content > div{
  @include container;
  
  @media screen and (min-width: 55.5em){
    margin: 0 16.66666667%;
  }
  
  .content-style-overlay{
    @include wrapper;
  }
}

.morph-button-fixed .morph-content>div .content-style-overlay {
  padding-bottom: 10em;
  
  p:last-of-type:not(:first-of-type):after{
    content: '\2b22';
    display: inline-block;
    position: relative;
    top: -3px;
    left: 2px;
    font-size: 0.8em;
  }
}

button span.date {
  font-size: 0.8em;
  opacity: 0.7;
}

.blog.page{
  // .morph-button-fixed, 
  // .morph-button-fixed:not(.open) .morph-content,
  // .post{
  // 	width:$diamondSize;
  // 	height:$diamondSize;
  // }
  
  .posts{
    background-color:$paper-color;
  }
  // Material background shades
  .post{
    @include background-color-variant($grey-400);
    
    &.red {
        @include background-color-variant($red)
    }
    &.pink {
        @include background-color-variant($pink);
    }
    &.purple {
        @include background-color-variant($purple);
    }
    &.deep-purple {
        @include background-color-variant($deep-purple);
    }
    &.indigo {
        @include background-color-variant($indigo);
    }
    &.light-blue {
        @include background-color-variant($light-blue);
    }
    &.blue {
        @include background-color-variant($blue-300);
    }
    &.green {
        @include background-color-variant($green-300);
    }
    &.cyan {
        @include background-color-variant($cyan);
    }
    &.teal {
        @include background-color-variant($teal);
    }
    &.light-green {
        @include background-color-variant($light-green);
    }
    &.lime {
        @include background-color-variant($lime);
    }
    &.light-yellow {
        @include background-color-variant($yellow-300);
    }
    &.yellow {
        @include background-color-variant($yellow-600);
    }
    &.orange {
        @include background-color-variant($orange);
    }
    &.deep-orange {
        @include background-color-variant($deep-orange);
    }
    &.grey {
        @include background-color-variant($grey);
    }
    &.blue-grey {
        @include background-color-variant($blue-grey);
    }
    &.brown {
        @include background-color-variant($brown);
    }
    &.light-grey {
        @include background-color-variant($light-grey);
    }
  }
}
/* @end */
