// Main header and logo


$header-height:10em;

$index-header-height:10em;

header{
  h1 a{ 
    
    img{
      height: 1em;
      display: inline-block;
      opacity: 0.8;
      padding-top: 12px;
    }
    
    &:hover{
      img{
        opacity: 1;
      }
    }
  }
}

header.peakaboo.header{
  padding-top:0;
  overflow: hidden;
  background:#4D4D4D;
  
  &:not(.mini){
    height: $header-height;
    
    @include media($large-2-screen-up){
      height: $header-height*1.2;
    }
  }
    
  .header-title{
    display:table;
    width:100%;
    margin: 0;
    padding:0;
    
    .logo,
    .section-title{
        display:table-cell;
        vertical-align: middle;
        
        @include media($small-screen-up-max){
          font-size: 1.5em;
        }
    }
    
    .logo{
        width: 50%;
        height: $header-height;
        background: rgb(47, 47, 47);
        overflow:hidden;
        padding-top: 1.25em;
        text-align:center;
        @include transition(background 0.2s);
        
        &:hover, &:focus{
          background: #2F2F2F!important;
        }
        
        @include media($small-screen-up-max){
          height: 7em;
        }
        
        @include media($medium-screen-up){
          width: 25%;
        }
        
        @include media($large-2-screen-up){
          height: $header-height*1.2;
        }
    }
    .section-title{
        padding-left:0.25em;
        padding-right:0.25em;
        padding-top: 0;
        
        @include media($medium-screen-up){
          padding-top: 1em;
        }
    }
  }
  &.mini{ 
  
    .wrapper{
      padding: 0.2em 15px 0;
      margin-left:3.75em;
    }
    
    .header-title{
      
      display:none;
      
      @include media($medium-screen-up){
        display:table;
      }
      
      .section-title,
      .chapter-title{
        padding-top: 0.5em;
        display:inline-block;
      }
      
      .logo{
        height: 2.5em;
        text-align: center;
        position: relative;
        
        img{
          height:100%;
          max-height:100%;
          position: absolute;
          top: 0;
          left: 40%;
          padding: 10px;
        }
      }
    }
  }
}
