@import "bourbon/bourbon";
@import "base/grid-settings";
@import "neat/neat";
@import "base/base";

@import "base/peakaboo";


$paper-color: #f2ede0;

@import "containers";

// Header
@import "header";

// Home
$primary-blog-color: $blue-grey-700;


//Page Menu
.page-menu{
  font-family:$heading-font-family;
}

// Index banner
$main-color:$red;
$secondary-color: $blue-grey-700;
.page-index header.peakaboo.header .header-title {
  background:$main-color;
  .logo{
      overflow:visible;
      z-index:200;
      background: $secondary-color;
      
      &:after {
        @include media($medium-screen-up){
          position: absolute;
          content: '';
          display: block;
          width: 25%;
          top: 10em;
          height: 40%;
          z-index: 0;
          background: color-opacity($lime-200,0.33);
      }
      @include media($large-2-screen-up){
        top: 12em;
      }
    }
  }
}

// Summary 
#summary{
  background: $cyan;
  float: left;
  color: $white;
  padding: 2.5em 0 1.5em;
  width: 100%;
  
  section{
    width: 100%;
    float: right;
    
    @include media($medium-screen-up){
      width: 75%;
    }
  }
}

//Preamble
#preamble{
  @include container;
  
  section, aside{
    @include wrapper;
    float:left;
    position:relative;
  }
  
  aside{
    font-family:$heading-font-family;
    border: 2px solid $purple-200;
    padding-top: 1.75em;
    padding-bottom: 1.25em;
  }
  
  @include media($large-screen-up){
    section{
      width:75%;
    }
    
    aside{
      border:none;
      width:25%;
      padding-top:2em;
      
      &:before{
        content:'';
        position:absolute;
        top: 0;
        left: 0;
        width:100%;
        display: block;
        z-index: -1;
        height: 200%;
        background: lighten($purple-200, 25%);
      }
    }
  }
}

// About
#about{
  padding-top: 3em;
  display:inline-block;
  
  @include media($medium-2-screen-up){
    min-height: 28em;
    display: table;
    width:100%;
  }
  
  @include media($massive-screen-up){
    min-height: 18em;
  }
  
  header, section{
    @include wrapper;
    position:relative;
  }
  
  header{
    width: 100%;
    background: lighten($primary-blog-color,50%);
    padding-top:2em;
    
    @include media($medium-2-screen-up){
      width: 25%;
      padding:0;
      display: table-cell;
      
      h2 {
        vertical-align: middle;
        @include transform(rotateZ(-90deg) translate(0%,60%));
      }
    }
  }
  section{
    margin: 0 5.55555556%;
    
    @include media($medium-2-screen-up){
      width: 75%;
      margin:0;
      display: table-cell;
      padding-left: 1.99em;
      padding-right: 3.15em;
    }
    
    @include media($large-2-screen-up){
      padding-left: 2.4em;
      padding-right: 4.15em;
    }
  }
}

.csstransforms #about header h2{
  @include media($medium-2-screen-up){
    white-space: nowrap;
    position:absolute;
    top:1em;
    left:0;
    text-align: right;
  }
  @include media($massive-screen-up){
    top:6em;
  }
}

// Blog Styles
@import "blog-page";


// Footer
footer.main{
  margin-top:1.5em;
  padding:1.5em 0;
  background-color:$grey-800;
  color:$grey-100;
}
