@import "bourbon/bourbon";
@import "base/grid-settings";
@import "neat/neat";
@import "base/base";

@import "base/peakaboo";


$paper-color: #f2ede0;

body{
  overflow-x: hidden;
}

body.scroll-lock{
  overflow:hidden;
}

.main, #footer{
  display: inline-block;
  width: 100%;
}

#footer{
  margin-top:1em;
  padding-top:1em;
}

#masthead, #figures, #summary>.content, #content, #footer .inner{
  @include container;
  section {
    @include wrapper;
  }
}

#masthead h1{
  @include site-title;
}

#content > article.posts{
  padding:0;
}

#content > .half{
  @include wrapper;
  @include media($medium-2-screen-up){
    width:50%;
    float:left;
  }
}


header.peakaboo.mini .wrapper{
  padding: 0.2em 15px 0;
  margin-left:3.75em;
}

header.peakaboo .header-title {
  padding-left: 0.25em;
}


h1 a{ 
  
  img{
    height: 1em;
    display: inline-block;
    opacity: 0.8;
    padding-top: 12px;
  }
  
  &:hover{
    img{
      opacity: 1;
    }
  }
}

p.lead{
  @include lead;
}

#content{
  ul.default {
    @extend %default-ul;
  }

  ol.default {
    @extend %default-ol;
  }
  
  ol.circle {
    @extend %circle-ol;
  }
  
  ul.circle {
    @extend %circle-ul;
  }
}


// Home
$primary-blog-color: $blue-grey-700;


header.peakaboo.header{
    padding-top:0;
    overflow: hidden;
    background:#4D4D4D;

  .header-title{
    display:table;
    width:100%;
    margin: 0;
    padding:0;
    
    .logo,
    .section-title{
        display:table-cell;
        vertical-align: middle;
    }
    
    .logo{
        width: 25%;
        height: 15em;
        background: rgb(47, 47, 47);
        overflow:hidden;
        padding-top: 1.25em;
        text-align:center;
    }
    .section-title{
        padding-left:0.25em;
        padding-right:0.25em;
        padding-top: 1em;
    }
  }
  &.mini .header-title{
    .section-title,
    .chapter-title{
      padding-top: 0.5em;
      display:inline-block;
    }
    
    .logo{
      height: 2.5em;
      text-align: center;
      width: 50%;
      position: relative;
      
      @include media($medium-screen-up){
        width: 25%;
      }
      
      img{
        height:100%;
        max-height:100%;
        position: absolute;
        top: 0;
        left: 40%;
        padding: 10px;
      }
    }
  }
}

// Summary 
#summary{
  background: $purple-200;
  float: left;
  color: $white;
  padding: 2.5em 0 1.5em;
  width: 100%;
  
  section{
    width: 100%;
    float: right;
    
    @include media($medium-screen-up){
      width: 75%;
    }
  }
}

//Preamble
#preamble{
  @include container;
  
  section, aside{
    @include wrapper;
    float:left;
    position:relative;
  }
  
  aside{
    border: 2px solid $purple-200;
    padding-top: 1.75em;
    padding-bottom: 1.25em;
  }
  
  @include media($large-screen-up){
    section{
      width:75%;
    }
    
    aside{
      border:none;
      width:25%;
      padding-top:2em;
      
      &:before{
        content:'';
        position:absolute;
        top: 0;
        left: 0;
        width:100%;
        display: block;
        z-index: -1;
        height: 200%;
        background: lighten($purple-200, 25%);
      }
    }
  }
}

// About
#about{
  padding-top: 3em;
  display:inline-block;
  
  @include media($medium-2-screen-up){
    min-height: 28em;
    display: table;
    width:100%;
  }
  
  @include media($massive-screen-up){
    min-height: 18em;
  }
  
  header, section{
    @include wrapper;
    position:relative;
  }
  
  header{
    width: 100%;
    background: lighten($primary-blog-color,50%);
    padding-top:2em;
    
    @include media($medium-2-screen-up){
      width: 25%;
      padding:0;
      display: table-cell;
      
      h2 {
        vertical-align: middle;
        @include transform(rotateZ(-90deg) translate(0%,60%));
      }
    }
  }
  section{
    margin: 0 5.55555556%;
    
    @include media($medium-2-screen-up){
      width: 75%;
      margin:0;
      display: table-cell;
      padding-left: 1.99em;
      padding-right: 3.15em;
    }
    
    @include media($large-2-screen-up){
      padding-left: 2.4em;
      padding-right: 4.15em;
    }
  }
}

.csstransforms #about header h2{
  @include media($medium-2-screen-up){
    white-space: nowrap;
    position:absolute;
    top:1em;
    left:0;
    text-align: right;
  }
  @include media($massive-screen-up){
    top:6em;
  }
}

// Blog
.blog header{
  display: table;
  width: 100%;

  &:before {
    content: '';
    background: $primary-blog-color;
    display: none;
    width:0;
    
    @include media($medium-screen-up){
      display: table-cell;
      width: 25%;
      height: 10em;
    }
  }

  .inner {
    background:$paper-color;
    display: table-cell;
    vertical-align: bottom;
    padding: 1em 1.75em;
  }
}

.blog .posts{
  float: left;
  width: 100%;
  display: block;
}

.morph-button-fixed, 
.morph-button-fixed:not(.open) .morph-content,
.post{
  height: 12em;
}

.blog .post {
  float:left;
  width: 50%;
  position:relative;
  background: $primary-blog-color;
  
  a, button, .morph-content{
    background-color:$primary-blog-color;
  }
  .morph-content{
    color: $paper-color;
  }
  
  &:nth-child(2n){
    background:$red;
    a, button, .morph-content{
      background-color:$red;
    }
    .morph-content{
      color: $paper-color;
    }
  }
  
  &:nth-child(3n){
    background:$cyan;
    a, button, .morph-content{
      background-color:$cyan;
    }
    .morph-content{
      color: $lightbg-text;
    }
  }
  
  &:nth-child(4n){
    background:$primary-blog-color;
    a, button, .morph-content{
      background-color:$primary-blog-color;
    }
    .morph-content{
      color: $paper-color;
    }
  }
  
  @include media($medium-screen-up){
    &, .morph-button-overlay .morph-content{
      width:25%;
    }
    .morph-button-overlay.open .morph-content{
      width:100%;
    }
  }
}

// Blog page
@import "blog-page";

footer.main{
  margin-top:1.5em;
  padding:1.5em 0;
  background-color:$grey-800;
  color:$grey-100;
}
