----
Title: Blog Content
----

{% capture section_title %}
  {{ title }}
{% endcapture %}

{% capture header_meta %}
  {% if title == 'Blog' %} data-page="main" data-top="true"{% endif %}
{% endcapture %}

{% capture content %}
  <a href="#" class="btn-close hide" title="Close"><span></span></a>
  <article class="blog page">
    <ol class="posts">
      {% for post in site.pages.blog.posts %}
        <li class="post {{post.meta['bg-color']}}">
          {% include 'layouts/_snippets/post' %}
        </li>
      {% endfor %} 
    </ol>
  </article>
{% endcapture %}

{% include 'layouts/default' %}
