{% capture content %}
  <header class="peakaboo" {% if title == 'Blog' %} data-page="main" {% endif %}>
    <div class="wrapper">
      <div class="header-title">
        <span class="section-title">Blog</span>
        <span class="chapter-title">{{ title }}</span>
      </div>
    </div>
  </header>
  <article class="blog page">
    <ol class="posts">
      {% for post in site.pages.blog.posts %}
        <li class="post {{post.meta['bg-color']}}">
          <div class="morph-button morph-button-overlay morph-button-fixed">
            <button type="button">{{post.title}}</button>
            <div class="morph-content">
              <div>
                <div class="content-style-overlay">
                  <span class="icon icon-close">Close the overlay</span>
                  <div class="content">
                    <h2>{{post.title}}</h2>
                    {{post.body}}
                  </div>
                </div>
              </div>
            </div>
          </div><!-- morph-button -->
        </li>
      {% endfor %} 
    </ol>
  </article>
{% endcapture %}

{% include 'layouts/default' %}
