<!-- JS -->
<script src="/js/jquery.min.js"></script>
<script src="/js/easing.js"></script>
<script src="/js/classie.js"></script>
<script src="/js/menu.js"></script>
<script src="/js/selectize/selectize.min.js"></script>
<script src="/js/material/material.min.js"></script>
<script src="/js/material/ripples.min.js"></script>
<script src="/js/uiMorphingButton.js"></script>
<script src="/js/dropcap.min.js"></script>
<script src="/js/404.js"></script>
<script src="/js/site.js"></script>
<script src="/js/gridlet.js"></script>

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/css/ripples.min.css" />
<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="/css/material-icons.css" />
<link rel="stylesheet" type="text/css" href="/css/component.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
