<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>{{site.title}} | {{title}}</title>
    <link rel="alternate" type="application/rss+xml" href="{{site.feed_url}}" />
    <link rel="stylesheet" type="text/css" href="/css/ripples.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/material-icons.css" />
    <link rel="stylesheet" type="text/css" href="/css/component.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    {{css}}
    <script src="/js/modernizr.js"></script>
  </head>
  <body>
    <nav id="bt-menu" class="bt-menu">
    	<a href="#" class="bt-menu-trigger"><span>Menu</span></a>
      <ul class="page-menu">
        {% for page in site.pages %}
          <li><a href="{{page.url}}"{% if page.url == url %} class="is-current-page"{% endif %}>{{page.title}}</a></li>
        {% endfor %}
      </ul>
      <ul>
					<li><a href="http://www.twitter.com/imkevinglover" class="bt-icon fa fa-twitter">Twitter</a></li>
					<li><a href="https://github.com/kevinglover" class="bt-icon fa fa-github">icon-github</a></li>
				</ul>
    </nav>
    <div class="main">
      <header class="peakaboo header" {{header_meta}}>
          <div class="header-title">
            <div class="logo">
              <a href="{{site.pages.index.url}}">
                <img src="/assets/logo.png"/>
              </a>
            </div>
            <h1 class="section-title">{{section_title}}</h1>
            {% if chapter-title != '' %}
            <span class="chapter-title">{{chapter_title}}</span>
            {% endif %}
          </div>
      </header>
      {{content}}
    </div>
    <footer id="footer">
      <div class="inner">
        <section>
          <p>{{site.pages.index.pages.footer.body}}</p>
        </section>
      </div>
    </footer>
  </body>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/material/material.min.js"></script>
  <script src="/js/material/ripples.min.js"></script>
  <script src="/js/easing.js"></script>
  <script src="/js/selectize/selectize.min.js"></script>
  <script src="/js/jquery.diamonds.js"></script>
  <script src="js/classie.js"></script>
  <script src="/js/menu.js"></script>
  <script src="/js/uiMorphingButton.js"></script>
  <script src="/js/site.js"></script>
  <script src="/js/gridlet.js"></script>
</html>
