// Mixins

@mixin background-color-variant($color){
  
  background-color:$color;
  @include transition(background-color 0.2s ease);
  
  a{
    @if lightness($color) < 45% {
      color: $lightbg-text;
    } @else {
      color: $darkbg-text;
    }
  }
  &:hover{
    background-color: lighten($color, 5%);
  }
}
